nav {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
}

nav .nav_list-studio {
  color: var(--main-fontcolor);
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
  text-align: center;
}

nav .nav_list {
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav_list li {
  padding: 10px 20px;
  color: var(--main-fontcolor);
  margin-right: 10px;
}
.nav_list .ani{
   transition: all 0.15s ease-in-out;
}
.nav_list .ani:hover {
  transform: scale(1.2);
}
